*{
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;

}

@media (max-width: 700px) {
    
}

@font-face {
    font-family: "Bye Man FREE", "Bakery Home Free Trial";
    src: url("../Fonts/Bye\ Man\ FREE.otf"), url("../Fonts/Bakery\ Home\ Free\ Trial.otf")
}

body{
    overflow-x: hidden;
}

/*Banner*/
.hero {
    min-height: 100vh;
    width: 100%;
    background-image: url("../Images/background5.jpg");
    background-position: center;
    background-size: cover;
    position: relative;
    z-index: 1;
}


/*Top Clouds*/
.topCloud {
    top:0;
    width: 100%;
    height: 100%;
    background-size: cover;
    position: absolute;
    z-index: 2;
    opacity: 0.4;

    animation-name: topAnime;
    animation-duration: 1s;
    animation-timing-function: ease;
}

@keyframes topAnime{
    0%{
        opacity: 0;
        top: -20px;
    }
    100%{
        opacity: 0.4;
        top: 0;
    }
}

/*Globe*/
.globe {
    bottom: 1px;
    position: absolute;
    background-size: cover;
    /*left: 130px;
    width: 80%;
    height: 80%;*/
    z-index: 3;
    width: 100%;
    height: 100%;

    animation-name: globeAnime;
    animation-duration: 0.7s;
    animation-timing-function: ease-in-out;
}

@keyframes globeAnime{
    0% {
        bottom: -25px;
        opacity: 0.5;
    }
    100%{
        bottom: 0;
        opacity: 1;
    }
}

/*Bottom Clouds*/
.bottomCloud {
    bottom: 0;
    position: absolute;
    background-size: cover;
    width: 100%;
    height: 100%;
    z-index: 4;

    animation-name: bottomAnime;
    animation-duration: 0.6s;
    animation-timing-function: ease-in-out;
}

@keyframes bottomAnime {
    0%{
       opacity: 0.7;
       bottom: -25px; 
    }
    100%{
        opacity: 1;
        bottom: 0;
    }
}

/*Plane*/
.plane {
    top: 1px;
    position: absolute;
    background-size: cover;
    width: 100%;
    height: 100%;
    z-index: 6;

    animation-name: planeAnime;
    animation-duration: 0.5s;
    animation-timing-function: ease-in-out;
}

@keyframes planeAnime {
    0%{
        opacity: 0.1;
        scale: 0.8;
    }
    100%{
        opacity: 1;
        scale: 1;
    }
}

.bar {
    top:0;
    left: 50%;
    width: 50px;
    height: 80%;
    color:#182934;
    border-radius: 20px;
    z-index: 3;
}

/*Navigation*/
.navdiv {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: space-between;
    font-family: sans-serif;
    font-size: 16px;
    padding-right: 10px;
    display: flex;
    z-index: 7;
}

.navdiv img {
    position: absolute;
    width: 8%;
    padding-left: 40px;
    padding-top: 2px;
}

.navdiv ul {
    
    margin-left: 50%;
}

.navdiv ul li {
    margin-top: 30px;
    list-style: none;
    display: inline-block;
    margin-left: 20px;
    width: 75px;
    height: 25px;
    border-radius: 20px;
    align-content: center;
    text-align: center;
    text-shadow: 1px 1px 10px rgb(32, 116, 161);

}

.navdiv ul li:hover {
    text-shadow: none;
    background-color: rgb(0, 104, 159);
}

.navdiv a {
    text-decoration: none;
    color: white
}

.signIn {
    margin-top: 30px;
    margin-right: 0;
    font-family: sans-serif;
    font-size: 17px;
    
    color: rgb(255, 255, 255);

    width: 90px;
    height: 30px;
    background-image: linear-gradient(rgb(0, 153, 255),rgb(9, 89, 154));
    border-radius: 20px;
    border: none;

    transition: 0.1s;
}

.signIn:hover {
    text-shadow: 2px 2px 5px grey;
    border-color: rgb(255, 213, 0);
    background-image: linear-gradient(rgb(255, 213, 0),rgb(255, 157, 0));
}

.signUp {
    margin-top: 30px;
    margin-right: 40px;
    font-family: sans-serif;
    font-size: 17px;
    
    color: rgb(255, 255, 255);
    background: transparent;
    width: 90px;
    height: 30px;
    border-radius: 20px;
    border-color: #ffffff;
    border-style: solid;

    transition: 0.1s;
}

.signUp:hover {
    border-color:#ffe100;
    color:#ffe100;

}


.text {
    z-index: 5;
}

.text h2{
    left: 43%;
    top: 18%;
    position: absolute;
    font-family: "Bakery Home Free Trial";
    font-size: 55px;
    color: white;
    text-shadow: 1px 2px 10px #509acb;

    animation-name: texth2;
    animation-duration: 0.5s;
    animation-timing-function: ease-in-out;
}

@keyframes texth2 {
    0%{
        opacity: 0.8;
        text-shadow: none;
        top: 15%;
    }
    100%{
        opacity: 1;
        text-shadow: 5px 2px 10px #66a0c6;
        top: 18%;
    }
}

.text h1 {
    left: 26.5%;
    top: 28%;
    position: absolute;
    font-family: "Bye Man FREE";
    font-size: 170px;
    /*background: linear-gradient(#fff600, #ffa600);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;*/

    color: #ffe100;
    text-shadow: 5px 2px 10px #66a0c6;
    
    animation-name: texth1;
    animation-duration: 0.5s;
    animation-timing-function: ease-in-out;
}

@keyframes texth1 {
    0%{
        opacity: 0.8;
        text-shadow: none;
        top: 25%;
    }
    100%{
        opacity: 1;
        text-shadow: 5px 2px 10px #66a0c6;
        top: 28%;
    }
}




/*02.About Section*/
.about {
    min-height: 100vh;
    min-width: 100%;
    padding-top: 150px;
    padding-left: 0;
    padding-right: 0;
    padding-right: 0;
    position: relative;
    text-align: center;
    background-image: url("../Images/background2.jpg");
    background-position: center;
    background-size: cover;
}

.upHome{
    width: 30px;
    height: 30px;
    left: 50%;
    bottom: 20%;
    position: absolute;
    z-index: 500;
    overflow-x: hidden;
    opacity: 0.5;
    animation: upAnim;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

@keyframes upAnim {
    0%{
        opacity: 0.5;
    }
    100%{
        opacity: 0.2;
        bottom: 21%;
    }
}

.about h1 {
    font-family: 'Montserrat';
    font-size: 70px;
    color: #ffe100;
    width: 700px;
    height: 100px;
    background-image: linear-gradient(#263238,#15303d);
    margin-left: 27%;
}



.about a {
    text-decoration: none;
    
}

.about button {
    font-family: 'Poppins';
    font-size: 25px;
    background-color: white;
    color:#5cb00d;
    width: 350px;
    height: 50px;
    border-color:#5cb00d;
    border-radius: 50px;
    border-style: solid;
    border-width: 2px;
    background: transparent;
    backdrop-filter: blur(50px);

    transition: 0.1s;
}

.about button:hover {
    color: white;
    border: none;
    background-image: linear-gradient(#5cb00d,#418807);
}

.about p {
    font-family: 'Nunito';
    padding: 0 200px;
}

.p1 {
    color: #2b508b;
    font-size: 30px;
}

.p2 {
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 1%;
    color: #263238;
    font-size: 17px;
    text-shadow: 0 0 200px rgb(255, 255, 255);
}




/*03.Services Section*/
.services {
    min-height: 100vh;
    min-width: 100%;
    padding-top: 140px;
    padding-left: 0;
    padding-right: 0;
    padding-right: 0;
    position: relative;
    text-align: center;
    background-image: url("../Images/background3.jpg");
    background-position: center;
    background-size: cover;
}

.upHome{
    width: 30px;
    height: 30px;
    left: 50%;
    bottom: 20%;
    position: absolute;
    z-index: 500;
    overflow-x: hidden;
    opacity: 0.1;
    animation: upAnim;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

.services h1 {
    margin-top: -35px;
    font-family: 'Montserrat';
    font-size: 70px;
    color: #15303d;
    width: 700px;
    height: 100px;
    background-image: linear-gradient(#ffe100,#ffb700);
    margin-left: 27%;
}

.cardbar {
    padding-top: 70px;
    display: inline-flex;
    gap: 20px;
    font-family: 'Nunito';
    text-align: center;
}

.card {
    width: 210px;
    height: 320px;
    position: relative;
    overflow: hidden;
    transition: 0.3s ease-in-out;
}

.card:hover {
    transform: scale(1.1);
}

.card::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    border-radius: 25px;

    background: linear-gradient(transparent,rgba(0, 0, 0, 0.2),rgba(0, 0, 0, 0.7),rgba(0, 0, 0, 0.9));
    opacity: 1;
}

.card h3 {
    bottom: 23%;
    text-align: center;
    position: absolute;
    align-content: center;
    z-index: 4;
    color:#ffb700;
    font-size: 18px;
    padding: 5px 10px;
    line-height: 18px;
}

.card p{
    bottom: 2.5%;
    position: absolute;
    align-content: center;
    z-index: 1;
    color:#ffffff;
    font-size: 11px;
    padding: 5px 10px;
}

.card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    border-radius: 25px;
    transition: 0.4s ease;
}




/*04.Contact Section*/
.contact {
    min-height: 100vh;
    width: 100wh;
    padding: 60px 20px;
    /*background-image: url(../Images/background4.jpg);*/
    background-color: #66a0c6;
    background-size: cover;
    overflow-x: hidden;
    position: relative;
}

.contact h1{
    text-align: center;
    margin-bottom: -10px;
    font-family: 'Montserrat';
    font-size: 60px;
    color: #ffffff;
    margin-left: -2%;
}

.contact span {
    color: #fc6d2a;
}

.contact h2 {
    text-align: center;
    margin-top: 10px;
    font-family: 'Montserrat';
    font-size: 60px;
    color: #ffffff;
    width: 750px;
    height: 90px;
    background-image: linear-gradient(#263238,#15303d);
    margin-left: 24%;
}

.contact p{
    text-align: center;
    padding-top: 25px;
    margin-bottom: -20px;
    font-family: 'Montserrat';
    font-size: 25px;
    color: #15303d;
    margin-left: -2%;
    font-weight:400;
}

.contactcard {
    display: inline-flex;
    gap: 20px;
    position: relative;
    align-items: center;
    left: 7%;
    margin-top: 80px;
}

.contcard {
    width: 300px;
    height: 220px;
    background-color: #ffffff;
    border-radius: 20px;
    transition: 0.3s;
    transition-timing-function: ease-in-out;
}

.contcard:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    transform: scale(1.02);
    margin-top: -5px;
}

.contact img {
    position: relative;
    width: 50px;
    left: 40%;
    top: 15%;
}

.contact h3 {
    font-family: 'Montserrat';
    text-align: center;
    margin-top: 40px;
    padding-right: 10px;
    color: #15303d;
}

.contact .contactcard p {
    text-align: center;
    padding-top: 8px;
    margin-bottom: -20px;
    font-family: 'Montserrat';
    font-size: 13px;
    color: #343434;
    margin-left: -2%;
    font-weight:500;
}

.contact button {
    position: relative;
    width: 250px;
    height: 35px;
    left: 8%;
    top: 18%;
    border-radius: 10px;
    /*background-image: linear-gradient(#ffe100,#ffb700);*/
    border: none;
    background-color: #fc6d2a;
    color: white;
    font-family: 'Nunito';
    font-size: 16px;
}

.contact button:active {
    background-color: #c34a12;
    transform: scale(1.04);
}

.contact h4 {
    font-family: 'Montserrat';
    font-size: 16px;
    color: #ffffff;
    font-weight:400;
    top: 110%;
    left: 22.5%;
    position: absolute;
}

/*.upHome2{
    width: 30px;
    height: 30px;
    left: 50%;
    bottom: 20%;
    position: absolute;
    z-index: 500;
    overflow-x: hidden;
    opacity: 0.1;
    animation: upAnim;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}*/



/*05.Footer Section*/
.footer {
    min-height: 25vh;
    width: 100wh;
    padding: 40px 20px;
    background-color:#141414;
    background-size: cover;
    overflow-x: hidden;
}

.footer img{
    width: 7%;
    margin-bottom: 10px;
    
    left: 46.5%;
    position: relative;
}

.footer p {
    text-align: center;
    color: white;
    font-family: 'Nunito';
    font-size: 14px;
    font-weight: 100;
}

.footer select {
    margin-top: 50px;
    margin-left: 20px;
    color: rgb(255, 255, 255);
    font-family: 'Nunito';
    font-size: 14px;
    font-weight: 100;
    background: transparent;
    border: none;
}

.footer select:focus {
    outline: none;
}

.footer select option {
    color:#15303d;
}

.social {
    position: relative;
    width: 18%;
    left: 38%;
    margin-top: -30px;
}

.footer h3 {
    text-align: right;
    color: rgb(139, 139, 139);
    font-family: 'Nunito';
    font-size: 14px;
    font-weight: 100;
    margin-right: 20px;
    margin-top: -40px;
}

.footer span {
    font-weight: 500;
    color:#ffffff;
}