*{
    padding: 0%;
    margin: 0;
}

body {
    background-image: url("../Images/backgroundlogin.jpg");
    position: relative;
    width: 100%;
    min-height: 100vh;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    overflow-y:hidden;
}

.signin{
    position: absolute;
    left: 37%;
    top: 16%;
    width: 360px;
    height: 500px;
    border-radius: 30px;
    border-color: rgb(106, 188, 160);
    background-color: transparent;
    border-width: 2px;
    border-style: groove;
    backdrop-filter: blur(15px);
    background-position: center;
    padding: 20px 40px;
    transition: 0.1s ease-in-out;
}

.signin:hover {
    box-shadow: 0 0px 15px rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(20px);
}

.signin img{
    position: relative;
    height: 8%;
    left: 36%;
    top: 3%;
    filter: drop-shadow(0 4px 8px rgba(0, 0, 0, 0.35));
    
}

h1{
    color: #ffe100;
    opacity: 0.8;
}

form{
    margin-top: 10%;
    margin-left: 30px;
    font-family: 'Montserrat';
    color: white;
    font-size: 14.3px;
}

a {
    text-decoration: none;
    font-size: 10px;
    color: white;
}

a:hover{
    color: #ffe100;
}

input {
    margin: 4px 0;
    width: 275px;
    height: 25px;
    border-radius: 8px;
    border: none;
    padding: 5px 10px;
    opacity: 0.6;
    transition: 0.25s ease-in-out;
}

input:focus {
    outline: none;
    border: 2px solid #448c47;   /* your theme color */
    box-shadow: 0 0 5px rgba(76, 175, 80, 0.3);
    opacity: 0.8;
    
}

input:hover {
    opacity: 0.8;
    transform: scale(1.01);
}

p {
    margin-left: -30px;
    font-size: 12px;
    text-align: center;
}

button {
    margin: 4px 0;
    width: 294px;
    height: 40px;
    border-radius: 8px;
    border: none;
    padding: 5px 10px;
    font-weight: bold;
    font-size: 20px;
    color: rgb(75, 78, 75);
    background-image: linear-gradient(#ffe100,#ffb700);
    transition: 0.25s ease-in-out;
}

button:active {
    color: rgb(41, 41, 41);
    background-image: linear-gradient(#c8b000,#c08900);
}

button:hover {
    transform: scale(1.05);
}

.links {
    display: flex;
}

.image {
    display:inline-flex;
    justify-content: space-between;
    padding-top: 20px;
    gap: 15px;
    margin-bottom: -20px;
    margin-top: -20px;
    list-style: none;
}

.image img {
    width: 20px;
    height: 20px;
    object-fit: contain;
    filter: drop-shadow(0);
}

li {
    align-items: center;
    align-content: center;
    width: 87px;
    height: 40px;
    background-color: #ffffff;
    border-radius: 10px;
    opacity: 0.85;
}

li:hover {
    opacity: 1;
    transform: scale(1.05);
    transition: 0.2s ease-in-out;
}

strong {
    font-size: 13px;
}

